<header>
    <h1>Netboard</h1>
    <nav>
        <ul>
            <li><%= link_to "datacenters", datacenters_path %></li>
            <li><%= link_to "racks", network_racks_path %></li>
            <li><%= link_to "devices", devices_path %></li>
        </ul>
    </nav>
</header>